:root {
  --color-background: white;

  --color-background-close-img: rgba(24, 24, 24, 0.5);
  --color-background-close-img-hover: rgb(24, 24, 24);
  --color-border-img: rgba(180, 180, 180, 0.3);
  --color-border-img-colorless: rgba(180, 180, 180, 0.0);

  --color-background-full-screen-image: rgba(0, 0, 0, 0.9);

  --color-background-left-arrow-image: rgba(24, 24, 24, 0.5);
  --color-background-left-arrow-image-hover: rgb(24, 24, 24);

  --color-attention: red;
  --color-text: black;

  --input-border-bottom-color: black;

  --color-background-choose-files: #eeeeee;
  --color-background-choose-files-border: #c5c5c5;
  --color-background-choose-files-border-hover: #fafafa;

  --color-max-length-images: red;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
